

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.bold {
    font-weight: bold;
}

.bottom {
    bottom: 0vh !important;
    width: 100%;
}

.messageImage {
    border-radius: 0%;
    width: 50%;
    height: auto;
}

.messageVideo {
    width: 70%;
    height: auto;
}

.addChat {
    padding-right: 10%;
    padding-top: 3%;
}

.fullPage {
    max-height: 100%;
}

.scroller {
    height: 88vh;
}